.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: darkkhaki;
}

.navbar__title {
    padding: 1rem;
    font-size: 2rem;
}

.navbar__darkmode{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}