.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: solid 2px lightgray;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1)
}

.navbar__title {
    padding: 1rem;
    font-size: 2rem;
}

.navbar__darkmode{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}