:root {
    --background: white;
    --text-primary: #000;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #333;
    --form-bg: #fff;
}

[data-theme='dark'] {
    --background: #000;
    --text-primary: #fff;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #808080;
    --form-bg: #191919;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    color: var(--text-primary);
    border-bottom: solid 2px lightgray;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    width: 100%
}

.navbar__title {
    padding: 1rem;
    font-size: 2rem;
}

.navbar__darkmode{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-right: 1rem;*/
    cursor: pointer;
}

.darkmode__logo {
    width: 1.25rem;
    margin: 0.5rem;

}
.darkmode__title {
    font-size: 1.25rem;
}