.searchbar {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}


.searchbar__searchpad {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0.5rem;
    border-radius: 10px;

}

.searchbar__searchpad:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #8e05c2;
}


.searchbar__dropdown {
    margin: 0.5rem;
    /*width: 25%;*/
}

.searchbar__dropdown:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #8e05c2;
}

input {
    padding: 1rem 0.25rem;
    margin: 0.5rem;
    width: 100%;
    outline: none;
    border: none;

}

select {
    padding: 1.5rem 0.25rem;
    /*margin: 0.5rem;*/
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

.searchbar__searchpad__icon {
    width: 2.25rem;
    padding: 0.25rem;
    margin-left: 0.5rem;
}

.searchbar__searchpad__button {

    border: none;
    background-color: transparent;
    padding-right: 1rem;
    font-size: 2rem;
}

.searchbar__searchpad__button:hover {

    cursor: pointer;

}

@media screen and (max-width: 900px) {

    .searchbar {
        width: 100%;
        justify-content: center;
    }

    .searchbar__searchpad {
        width: 100%;
    }

    .searchbar__dropdown {
        width: 100%;
    }
}