:root {
    --background_card: white;
    --text-primary: #000;
    --shadow-color: rgba(0, 0, 0, 0.19)

}

[data-theme='dark'] {
    --background_card: rgba(14, 14, 14, 0.77);
    --text-primary: #fff;
    --shadow-color: rgba(255, 255, 255, 0.24)
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
    border-radius: 5px;
    color: var(--text-primary);
    overflow: hidden;
    background-color: var(--background_card);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--shadow-color);
    width: 400px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #8e05c2;
}

.card__flag {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-bottom: 1px solid black ;
}

.card__desc {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    padding: 1rem;
}

.card__title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
a {
    color: var(--text-primary);
    text-decoration: none;
}

a:hover {
    color: #8e05c2;
}

.card__info {
    list-style-type: none;
    margin: 0.75rem 0;

}

.card__button {
    cursor: pointer;
    text-decoration: none;
}